<div class="home-posts" *ngIf="data">
  <div class="home-posts-inspire">
    <div class="big-title">
      <h1>Get Inspired</h1>
      <div class="big-title-border"></div>
    </div>
  </div>

  <div
    *ngIf="data[0].imageUrl !== undefined"
    (click)="pageTransition.navigate('/post', { id: data[0].id })"
    class="home-posts-wide"
  >
    <img class="home-posts-img" src="{{ data[0].imageUrl }}" alt="" />
    <div class="home-posts-title">
      <h4>{{ data[0].title }}</h4>
    </div>
  </div>

  <div
    *ngIf="data[1].imageUrl !== undefined"
    (click)="pageTransition.navigate('/post', { id: data[1].id })"
    class="home-posts-tall"
  >
    <img class="home-posts-img" src="{{ data[1].imageUrl }}" alt="" />
    <div class="home-posts-title">
      <h4>{{ data[1].title }}</h4>
    </div>
  </div>

  <div
    *ngIf="data[2].imageUrl !== undefined"
    (click)="pageTransition.navigate('/post', { id: data[2].id })"
    class="home-posts-tall"
  >
    <img class="home-posts-img" src="{{ data[2].imageUrl }}" alt="" />
    <div class="home-posts-title">
      <h4>{{ data[2].title }}</h4>
    </div>
  </div>

  <div
    *ngIf="data[3].imageUrl !== undefined"
    (click)="pageTransition.navigate('/post', { id: data[3].id })"
    class="home-posts-tall"
  >
    <img class="home-posts-img" src="{{ data[3].imageUrl }}" alt="" />
    <div class="home-posts-title">
      <h4>{{ data[3].title }}</h4>
    </div>
  </div>
</div>
