<div class="home-deals-container">
  <div *ngIf="!isMobile" class="bg-parallelogram"></div>

  <div
    (click)="pageTransition.navigate('/accommodation-details', { id: item.id })"
    class="home-deals-card"
    *ngFor="let item of data"
  >
    <div
      *ngIf="isMobile"
      class="bg-parallelogram bg-parallelogram-mobile"
    ></div>

    <div class="home-deals-inner">
      <h3 class="home-deals-main" [title]="item.establishmentName">
        {{ item.establishmentName }}
      </h3>
      <h4 class="home-deals-sub">ADD IN A NEW SUB HEADING</h4>
      <p class="home-deals-desc">{{ item.description }}</p>
      <button class="btn home-deals-button">Book now!</button>
    </div>
    <img class="home-deals-bg" src="{{ item.imageUrl }}" alt="" />
  </div>
</div>
