@import '../../../variables';

.bg-parallelogram {
  top: 50%;
}

.home-deals-container {
  position: relative;
  margin: 0 auto 200px auto;
  width: $main-width;
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
}

.home-deals-card {
  position: relative;
  width: 340px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.home-deals-inner {
  margin: auto 40px 30px 40px;
  background-color: $white;
  height: 260px;
  padding: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-deals-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-deals-main {
  margin: auto 0 0 0;
  font-size: 1.5em;
  text-transform: uppercase;
  color: $tertiary;
  line-height: 24px;
  max-height: 72px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.home-deals-sub {
  margin: 5px 0;
  text-transform: uppercase;
  color: $secondary;
}

.home-deals-desc {
  margin: 0;
  color: $grey;
  font-size: 1em;
  line-height: 1.2em;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.home-deals-button {
  margin-top: auto;
}

@media (max-width: $breakpoint-big-1) {
  .home-deals-container {
    width: $breakpoint-big-1-width;
  }
}

@media (max-width: $breakpoint-big-2) {
  .home-deals-container {
    width: $breakpoint-big-2-width;
  }
}

@media (max-width: 1270px) {
  .home-deals-card {
    width: 300px;
  }

  .home-deals-inner {
    margin: auto 20px 25px 20px;
  }
}

@media (max-width: 1150px) {
  .home-deals-card {
    width: 270px;
  }
}

@media (max-width: $breakpoint-laptop) {
  .home-deals-card {
    width: 245px;
  }

  .home-deals-inner {
    height: 245px;
    margin: 0;
  }

  .home-deals-bg {
    height: calc(100% - 295px);
  }
}

@media (max-width: 960px) {
  .home-deals-card {
    width: 230px;
  }
}

@media (max-width: 880px) {
  .home-deals-card {
    width: 205px;
  }
}

@media (max-width: 768px) {
  .home-deals-container {
    flex-direction: column;
  }

  .home-deals-card {
    width: 100%;
    height: 500px;
    margin: 20px auto;
  }

  .home-deals-inner {
    height: 170px;
  }

  .home-deals-bg {
    height: calc(100% - 220px);
  }

  .home-deals-btn {
    height: 40px;
    line-height: 40px;
  }
}
