<app-home-gallery></app-home-gallery>

<app-booking-search></app-booking-search>

<div class="big-title">
  <h1>Latest deals</h1>
  <div class="big-title-border"></div>
</div>

<app-home-deals></app-home-deals>

<div class="home-explore">
  <div class="home-explore-title-container">
    <div class="big-title">
      <h1>Explore Bergen</h1>
      <div class="big-title-border"></div>
    </div>
  </div>

  <img
    class="home-explore-img"
    src="https://firebasestorage.googleapis.com/v0/b/noroff-projectexam-02.appspot.com/o/home-explore.jpg?alt=media&token=f05b6ed0-e43f-4e21-bf73-42d2efa60a7c"
    alt=""
  />

  <div class="home-explore-blob">
    <h4>Rich Culture and History</h4>
    <p>
      Visit Bergen, Norway's second biggest city, the gateway to the Norwegian
      Fjords. The surrounding natural landscape is by far one of the worlds most
      spectacular. Visit Bryggen the iconic coloured buildings of the Bergen
      cultural heritage, perhaps one of the most familiar scenes of all of
      Norway. Bergen has a rich culture and history of being the city of foreign
      trade and relations.
    </p>
  </div>

  <div class="bg-trapezoid"></div>
</div>

<app-home-posts></app-home-posts>
