//Fonts
$font-family: bilo, sans-serif;
$font-family-text: degular, sans-serif;

// Colours
$white: white;
$grey: gray;
$main: #026774;
$main-transparent: rgba(2, 103, 116, 0.8);
$main-shade1: #00bcd4;
$main-shade2: #b2ebf2;

$secondary: #815545;
$secondary-shade: #c27f65;

$tertiary: #dd2c00;
$tertiary-shade: #ff5722;

$error: #ff5439;

// Size
$main-width: 60%;
$max-width: 1150px;

$breakpoint-big-1: 1750px;
$breakpoint-big-2: 1500px;
$breakpoint-big-1-width: 70%;
$breakpoint-big-2-width: 80%;

$breakpoint-admin: 1030px;
$breakpoint-laptopL: 1440px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobileL: 425px;
$breakpoint-mobileM: 375px;
