@import '../../../../variables';

.admin-edit-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: $main-width;
  max-width: $max-width;
  min-width: $breakpoint-admin;
  margin: 50px auto 590px auto;
}

.admin-edit-card {
  width: calc(50% - 20px);
  margin-bottom: 15px;
}

.admin-edit-card-container {
  position: relative;
  background-color: $main;
  color: $white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label,
  p {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .form-input,
  .form-input-label {
    font-weight: 400;
    font-size: 1.1em;
    width: calc(100% - 70px);
    height: 50px;
    padding: 0 0 0 20px;
  }
}

.admin-edit-card-full {
  width: 100%;
}

.admin-edit-card-small {
  width: calc(25% - 30px);
}

.admin-edit-card-tall {
  height: 500px;
}

.admin-edit-card-left {
}
.admin-edit-card-right {
  margin-left: 40px;
}

.admin-input-group {
  display: flex;
}

.admin-input-icon {
  height: 30px;
  width: 30px;
  background-color: $secondary;
  padding: 10px;

  svg {
    height: 100%;
    width: 100%;
    fill: $white;
    stroke: $white;
  }

  line {
    stroke: $white;
  }

  polygon {
    fill: $white;
  }
}

.admin-edit-map {
  width: 100%;
  height: 300px;

  agm-map {
    width: 100%;
    height: 100%;
  }
}

.admin-images-row {
  display: flex;
}

.admin-images-container {
  display: flex;
  margin: 10px 0;
  width: calc(100% - 230px);
  flex-wrap: wrap;
}

.admin-images-box {
  margin-left: 5px;
  flex-wrap: wrap;
  position: relative;
  width: 60px;
  height: 60px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
  }
}

.admin-images-delete {
  position: absolute;
  top: -5px;
  left: -5px;
  fill: $white;
  width: 20px;
  height: 20px;

  line {
    stroke: $grey;
    stroke-width: 4pt;
  }
}

.admin-images-upload {
  width: 230px;

  .btn {
    height: 40px;
    margin-top: 10px;
  }
}

.admin-images-input {
  display: flex;
}

.admin-spinner {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin-edit-submit {
  position: fixed;
  top: 322px;
  right: calc(20% - 220px);
  width: 200px;
  height: 40px;
}

.admin-booking-dates-container {
  display: flex;
  margin-bottom: 10px;
}
.admin-booking-dates {
  display: flex;
  margin-left: auto;
}

.admin-booking-date-text-container {
  height: 50px;
  margin-right: 20px;
  background-color: $main-shade2;
  padding: 0 30px;
}

.admin-booking-date-text {
  line-height: 50px;
  font-size: 16px !important;
  font-weight: 400;
  margin: 0;
  color: $main;

  //&:visited {
  //  color: $main;
  //}
}

.admin-images-singular {
  width: calc(100% - 270px);
  height: auto;
  img {
    border-radius: 0;
  }
}

@media (max-width: $breakpoint-admin) {
  .admin-edit-container {
    min-width: unset;
    width: 80%;
  }

  .admin-edit-submit {
    position: unset;
    transform: unset;
    width: 100%;
  }

  .admin-edit-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .admin-booking-dates-container {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .admin-booking-date-text-container {
    width: calc(50% - 70px);
    margin-bottom: 5px;

    &:nth-of-type(2) {
      margin-right: 0;
    }
  }

  .admin-booking-dates {
    width: 100%;
    margin: 0;

    .admin-input-group {
      width: calc(50% - 10px);
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .admin-images-row {
    flex-direction: column;
  }

  .admin-images-upload {
    width: 100%;
  }

  .admin-images-container {
    width: 100%;
  }
}
