<div class="bg-parallelogram"></div>

<form
  class="admin-edit-container"
  [formGroup]="adminForm"
  *ngIf="data !== null"
  (ngSubmit)="onSubmit(adminForm.value)"
>
  <div *ngIf="isSaving" class="admin-spinner lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div
    class="admin-edit-card"
    [ngClass]="{
      'admin-edit-card-full': layoutInfo.size === 'full',
      'admin-edit-card-small': layoutInfo.size === 'small',
      'admin-edit-card-tall': layoutInfo.size === 'tall',
      'admin-edit-card-left': layoutInfo.layout === 'left',
      'admin-edit-card-right': layoutInfo.layout === 'right'
    }"
    *ngFor="let layoutInfo of writeLayout"
  >
    <div class="admin-edit-switch" [ngSwitch]="layoutInfo.type">
      <app-edit-string
        *ngSwitchCase="'string'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
      >
      </app-edit-string>

      <app-edit-text
        *ngSwitchCase="'text'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
        [editAble]="layoutInfo.editAble"
      >
      </app-edit-text>

      <app-edit-number
        *ngSwitchCase="'number'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
      >
      </app-edit-number>

      <app-edit-email
        *ngSwitchCase="'email'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
      >
      </app-edit-email>

      <app-edit-boolean
        *ngSwitchCase="'boolean'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
      ></app-edit-boolean>

      <app-edit-location
        *ngSwitchCase="'location'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
        [editAble]="layoutInfo.editAble"
      ></app-edit-location>

      <app-edit-date
        *ngSwitchCase="'date'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
        [editAble]="layoutInfo.editAble"
      ></app-edit-date>

      <app-edit-booking-date
        *ngSwitchCase="'booking'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
        [id]="id"
      ></app-edit-booking-date>

      <app-edit-image
        *ngSwitchCase="'image'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
        [model]="model"
      ></app-edit-image>

      <app-edit-images
        *ngSwitchCase="'imageArray'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
        [model]="model"
      ></app-edit-images>

      <app-edit-roles
        *ngSwitchCase="'roles'"
        [adminForm]="adminForm"
        [key]="layoutInfo.key"
        [name]="layoutInfo.name"
      ></app-edit-roles>
    </div>
  </div>

  <button class="btn admin-edit-submit" type="submit">
    Save {{ model | uppercase }}
  </button>
</form>
